html, body {
    position: relative;
    height: 100%;
    }
    
    body {
    background:rgb(255, 255, 255);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    }
  .news{
      padding: 20px;
  }  
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 12px;
        /* background-color: #2196F3; */
        padding: 10px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 50%;
        
    }
    .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
    width:100%;
    height:100%;
    border: 1px solid #cacaca;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    }
    

    
    .card-title
    {
        font-weight: bold;
        font-size: 15px;
    }
    
    .more-detail, .card-text
    {
        font-size: 12px;
    }
    
     #card1
    {
        height:auto;
    }
     
    .card
    {
        border: 0px;
        height: 100px;
    }
    
    .card-body
    {
        width:100%;
    }
    
    .news-box h2{
        font-size: 20px;
        text-align: center;
    }
    
    