*{
    color: black;
}

.app{
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 640px;
    left: 50%;
    top: 0px;
    
    transform: translateX(-50%);

}

.app .screen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}

.hidden{
    display: none;
}

.main-screen{
    overflow-y: auto;
}
.main-screen .logo{
    font-size: 18px;
    color: #111;
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

.main-screen .categories{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.main-screen .news-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-items: center;
}
.main-screen .news-list > .item{
    max-width: 250px;
    border: 1px solid #ddd;
    padding: 10px;
}

.main-screen .news-list > .item-details{
    padding: 10px;
}

.main-screen .news-list > .item-details h2{
    font-size: 16px;
    border-bottom: 10px;
}
    
    